{% load static %}
{% extends "phantom_template/base.html" %}

{% block content %}
	<!-- Main -->
		<div id="main">
			<div class="inner">
				{% for section in sections %}
					{% if section.type == "header" %}
						{% include "phantom_template/header.html" %}
					{% elif section.type == "tiles" %}
						{% include "phantom_template/tiles.html" %}
					{% elif section.type == "text" %}
						{% include "phantom_template/text.html" %}
					{% elif section.type == "page" %}
						{% include "phantom_template/generic.html" %}
					{% endif %}
				{% endfor %}
			</div>
		</div>

{% endblock %}
